In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

In [4]:
data = sns.load_dataset("geyser")
data

     duration  waiting   kind
0       3.600       79   long
1       1.800       54  short
2       3.333       74   long
3       2.283       62  short
4       4.533       85   long
..        ...      ...    ...
267     4.117       81   long
268     2.150       46  short
269     4.417       90   long
270     1.817       46  short
271     4.467       74   long

[272 rows x 3 columns]

In [7]:
x1 = np.array(data["duration"])
x2 = np.array(data["waiting"])
y = np.array(data["kind"]);
# Convert categorical variable to numerical
y = np.where(y == "long", 1, 0)

In [ ]:
class svm:
# Inicializar atributos y declarar hiperpar´ametros
def __init__(self,...):



# Etapa de entrenamiento
def fit(self,X,y):
# Etapa de testeo
def predict(self,X):